@page "/"

<MudText Typo="Typo.h5">@Assembly.GetEntryAssembly().ReadTitle() <MudText Color="Color.Dark" Typo="Typo.caption">[@Assembly.GetEntryAssembly().ReadFileVersion()]</MudText></MudText>
<MudText Typo="Typo.caption">@Assembly.GetEntryAssembly().ReadCopyright()</MudText>
<br />
<br />
<MudText Typo="Typo.subtitle1">A tool for quickly encrypting / decrypting data and files</MudText>

<br />
<MudImage Src="images/10709.jpg" Width="700" />
<div>
    <a style="font-size:xx-small" href="https://www.freepik.com/free-vector/group-people-chatting-each-other-using-phone_11235468.htm#query=app%20illustration&position=49&from_view=keyword&track=ais">Image by pch.vector on Freepik</a>
</div>    
